<body>
<div id='req_button'>Request Doohickes</div>
<form id='create'>
    <input type='text' size ='50' id='name_field'></input>
    <input type='submit'></input>
</form>
<div id='doohickies'></div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</body>